<h3 class="first">Business type</h3>
<p-selectButton [options]="types" [(ngModel)]="selectedType"></p-selectButton>
<div>
	<h3 class="first">Brand</h3>
	<p-dropdown #brand [options]="casinos" filter="true" [(ngModel)]="selectedBrand">

	</p-dropdown>
</div>
<hr>
<h3>{{selectedBrand || 'none'}}</h3>
<!-- <div> {{ selectedTrackings | json }}</div> -->


<p-accordion [multiple]="true" expandIcon="fa fa-chevron-right" collapseIcon="fa fa-chevron-down">

	<p-accordionTab *ngFor="let item of selectedTrackings" header="&nbsp;&nbsp;{{item.data.language}}">
		<div>
			<div>
				<p-table [value]="[item]">
					<ng-template pTemplate="caption">Default - Catch all - Tracking link</ng-template>
					<ng-template pTemplate="header">
						<tr>
							<th>Link</th>
							<th>Campaign</th>
						</tr>
					</ng-template>
					<ng-template pTemplate="body" let-link>
						<tr>
							<td>{{link.data.trackingLink}}</td>
							<td>{{link.data.campaign}}</td>
						</tr>
					</ng-template>
				</p-table>
			</div>
			<div>
				<hr>
				<p-table [value]="item.children">
					<ng-template pTemplate="caption">Country specific trackings</ng-template>
					<ng-template pTemplate="footer">
							<tr>
								<td colspan="5">
									<button type="button" pButton icon="fa fa-plus" label="Add country specific tracking" (click)=" menu.toggle($event)"></button>
								</td>
							</tr>
					</ng-template>
					<ng-template pTemplate="header">
						<tr>
							<th>Country</th>
							<th>Language</th>
							<th>Website</th>
							<th>Link</th>
							<th>Campaign</th>
						</tr>
					</ng-template>
					<ng-template pTemplate="body" let-link>
						<tr>
							<td>{{link.data.ip}}</td>
							<td>{{link.data.language}}</td>
							<td>{{link.data.website}}</td>
							<td>{{link.data.trackingLink}}</td>
							<td>{{link.data.campaign}}</td>
						</tr>
					</ng-template>
				</p-table>
			</div>

		</div>
	</p-accordionTab>

</p-accordion>
<hr>
<p-fieldset legend="Header" [toggleable]="true">
	Content
</p-fieldset>
<hr>
<button type="button" pButton icon="fa fa-plus" label="Add tracking for the language" (click)=" menu.toggle($event)"></button>
<p-menu #menu [model]="languages"></p-menu>